---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
// import Card from "../components/Card.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import {
  Table,
  TableCaption,
  TableHeader,
  TableRow,
  TableHead,
  TableBody,
  TableCell,
} from "@/components/ui/table";
import "@/styles/globals.css";
---

<Layout>
  <Navbar />
  <main class="max-w-[1400px] mx-auto p-4 grid grid-cols-3 gap-4">
    <Card id="profile">
      <CardHeader>
        <CardTitle className="text-center">
          Hola, Axel Huerta Hernández</CardTitle
        >
      </CardHeader>
      <CardContent>
        <ul>
          <li>Matrícula: 123456789</li>
          <li>Inscrito a UEA</li>
          <li>Licenciatura en Computación</li>
          <li>CBI</li>
        </ul>
      </CardContent>
    </Card>
    <Card id="info">
      <CardHeader>
        <CardTitle>Información general</CardTitle>
      </CardHeader>
      <CardContent>
        <ul>
          <li>Dedicación: Tiempo Completo</li>
          <li>Créditos inscritos: 44</li>
          <li>Clave del plan: 30</li>
          <li>Trimestre de ingreso: 19O</li>
          <li>Último trimestre ingreso: 24O</li>
          <li>Créditos contabilizados: 408</li>
          <li>Email: axelhuerta@dev</li>
        </ul>
      </CardContent>
    </Card>
    <Card>
      <CardHeader>
        <CardTitle>Links</CardTitle>
      </CardHeader>
      <CardContent>
        <ul>
          <li><a href="">Módulo de Información Escolar</a></li>
          <li><a href="">UAMI con Perspectiva de Género</a></li>
        </ul>
      </CardContent>
    </Card>
    <Card className="col-span-3">
      <CardHeader><CardTitle>Horario</CardTitle></CardHeader>
      <CardContent>
        <Table>
          <TableCaption>Horario</TableCaption>
          <TableHeader>
            <TableRow>
              <TableHead>Grupo</TableHead>
              <TableHead>Nombre</TableHead>
              <TableHead>Profesor</TableHead>
              <TableHead>Créditos</TableHead>
              <TableHead>Lunes</TableHead>
              <TableHead>Martes</TableHead>
              <TableHead>Miércoles</TableHead>
              <TableHead>Jueves</TableHead>
              <TableHead>Viernes</TableHead>
            </TableRow>
          </TableHeader>
          <TableBody>
            <TableRow>
              <TableCell>1</TableCell>
              <TableCell>Matemáticas Discretas</TableCell>
              <TableCell>Dr. Axel Huerta</TableCell>
              <TableCell>8</TableCell>
              <TableCell>18:00 - 20:00 VIRTUAL </TableCell>
              <TableCell />
              <TableCell>18:00 - 20:00 VIRTUAL</TableCell>
              <TableCell />
              <TableCell>18:00 - 20:00 VIRTUAL</TableCell>
            </TableRow>
          </TableBody>
        </Table>
      </CardContent>
    </Card>
    <Card className="col-span-3">
      <CardHeader><CardTitle>Tutorías</CardTitle></CardHeader>
      <CardContent />
    </Card>
  </main></Layout
>
