---

---

<nav class="flex justify-between bg-green-300 py-4 px-12">
  <ul class="flex gap-4">
    <li>
      <a href="">Inicio</a>
    </li>
    <li>
      <a href="">CELEX</a>
    </li>
    <!-- <li>
        <a href="">Módulo de información</a> // Add
      </li> -->
    <li>
      <a href="">Formatos</a>
    </li>
    <li>
      <a href="">Ficha médica</a>
    </li>
    <li>
      <a href="">Aula CBI</a>
    </li>
    <li>
      <a href="">Vinculación</a>
    </li>
    <!-- <li>
        <a href="">UAMI con Perspectiva de género</a> // Add
      </li> -->
    <li>
      <a href="">Unigénero</a>
    </li>
  </ul>
  <span>User</span>
</nav>
